@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Open+Sans:wght@300&display=swap');

.cardsProductos {
    
    padding: 30px 60px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

}
/*CUANDO SELECCIONAS UNA CATEGORIA*/

/*-----------------------------------------*/

.cardsProductos-titulo {
    font-size: 30px;
    font-weight: 600;
    margin-left: 3.8rem;
    margin-top: 2rem;
    color: black;
}
.listado-unidad {
    display: flex;
    flex-direction: column;
}
.cardsProductos-unidad-img {
    width: 100%;
    border-radius: .8rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.cardsProductos-unidad-descripcion {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

.listado-unidad-nombre{
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}
.card-caracteristicas{
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.6rem;
}
.card-caracteristicas p{
    margin-right: 1rem;

}
@media only screen and (max-width: 650px) {
    .cardsProductos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        cursor: pointer;
    }
    .cardsProductos-categoria{
        width: 84vw;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
}
@media only screen and (max-width: 565px) {
    .cardsProductos-categoria{
        width: 83vw;
    }
}
@media only screen and (max-width: 520px) {
    .cardsProductos-categoria{
        width: 81vw;
    }
}
@media only screen and (max-width: 480px) {
    .cardsProductos-categoria{
        width: 80vw;
    }
}
@media only screen and (max-width: 450px) {
    .cardsProductos-categoria{
        width: 79vw;
    }
}
@media only screen and (max-width: 430px) {
    .cardsProductos-categoria{
        width: 78vw;
    }
}
@media only screen and (max-width: 410px) {
    .cardsProductos-categoria{
        width: 77vw;
    }
}
@media only screen and (max-width: 380px) {
    .cardsProductos-categoria{
        width: 75vw;
    }
}