@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');



/* * {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	--font-family: 'Quicksand', sans-serif;
	--naranja: #F0572D;
} */

.form {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	text-align: center;
	align-items: center;
	margin-bottom: 5rem;
	border: solid 1px#d4d0d1;
	border-radius: .5rem;
}


/* .form-titulo{
	margin-top: 1rem;
	margin-bottom: 1rem;
} */

.seccion1 {
	/* display: flex; */
	flex-direction: column;
	border-top: solid 1px#d4d0d1;
	align-items: center;
}

.seccion2 {
	/* display: flex; */
	flex-direction: column;
	align-items: center;
}

.form-nombre label,
.form-apellido label {
	display: flex;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
	color: #1f1f1f;
	margin-top: 10px;
}

.form-correo label,
.form-contraseña label {
	display: flex;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 10px;
	color: #1f1f1f;
	margin-top: 10px;
}

.form input,
.form textarea {
	height: 40px;
	font-family: var(--font-family);
	background: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	font-size: 12px;
	padding: 1rem 40px;
	margin-bottom: 5px;
	color: #31363F;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
}

.form .seccion2 input,
.form .seccion2 textarea {

	height: 40px;
	font-family: var(--font-family);
	background: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 5px;
	color: #31363F;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
}

.form .seccion1 .error {
	text-align: left;
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	Width: 218px;
}

.form .seccion2 .error {
	text-align: left;
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	Width: 455px;
}

.Buttom {
	height: 400px;
	margin-top: 1rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.Buttom p {
	color: #31363F;
	font-size: 12px;
	font-weight: 900;
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: var(--naranja);
}

.ParrafoTienesCuenta {

}

.form button[type="submit"] {
	display: flex;
	background: var(--naranja);
	font-weight: 600;
	font-family: var(--font-family);
	border: none;
	cursor: pointer;
	height: 40px;
	width: 240px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	background-color: #F0572D
}
