.header-producto {
  background: #ffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0572dd3;
}

.header-producto h2 {
  margin-left: 3rem;
}

.boton-volver {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: none;
  border: none;
  border-radius: .7rem;
  padding: 7px;
  margin-right: 2rem;
  cursor: pointer;
}

.ubicacion {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.localidad {
  margin-left: 2rem;
}

.icons-prod {
  display: flex;
  gap: 10px;
  margin-right: 2rem;
}

.icons-prod button {
  background: white;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items:center;
  gap: 10px;
}


/*---------------------------------------------------------------
                    Galeria Detalle de producto
---------------------------------------------------------------*/

.galeriaImg {
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  padding: 10px 70px 0px 70px;
  display: flex;
}
.imagen{
  width: 55rem;
}
.carousel.carousel-slider{
  border-radius: .5rem;
}

.carousel .thumb{
  border-radius: .5rem;
}
.carousel .thumb img{
    border-radius: .3rem;
}
.reservaProductos {
  /*Container de la seccion*/
  margin-top: 2rem;
  border-radius: .5rem;
  width: 10rem;
}
.contenedor-IniciarReserva {
  /*contenedor donde va el calendario Y el container del boton iniciar reserva*/
  position: sticky;
  top: 25vh;
  align-self: flex-start;
  border-radius: .5rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
  padding: 2rem 2rem;
  z-index: 99;
  width: 100%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.contenedor-IniciarReserva-titulo{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contenedor-IniciarReserva-titulo-caja{
  display: flex;
}
.contenedor-IniciarReserva-titulo-p{
  margin-left: .5rem;
  margin-bottom: .5rem;
  
}
.contenedor-IniciarReserva button {
  background: #000;
  border-radius: .5rem;
  width: 100%;
  padding: 1rem;
  background-color: #F0572D;
  color: white;
  border: solid 1px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
}

.IniciarReserva-boton {
  cursor: pointer; 
}
/*---------------------------------------------------------------
              Comienzan las secciones de información
---------------------------------------------------------------*/

/*----> Articulo nombre del carro y descripcion <----*/

.cuerpo-contenedor {
  /*Container de la seccion*/

  display: block;
}
.Seccion1{
  display: block;
}
.cuerpo-titulo {
  /*Titulo: Nombre del carro */
  font-weight: 600;
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .cuerpo-linea{
  border: 1px solid  #EBEBEB;
} */

.cuerpo-descripcion {
  /*Parrafo: Descripcion del carro */
  width: 80%;
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

/*----> Articulo que ofrece el auto <----*/

.caracteristicas {
  margin-top: 2rem;

}

.caracteristicas-titulo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.caracteristicas p {
  margin-top:20px;
}
/*----> Articulo que politicas del auto <----*/
.politicas {
  margin-top: 2rem;
}

.politicas-titulo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.politicas p {
  margin-top:20px;
}


/*----> Articulo seleccionar la fecha de tu reserva <----*/

.seleccionaFecha{
  margin-top: 2rem;

}

.seleccionaFecha-titulo{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.seleccionaFecha-descripcion{
  padding: 0rem 5rem 0rem 0rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}



/*---------------------------------------------------------------
                        Seccion de reserva
---------------------------------------------------------------*/



.calendarioInteractivo {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
  border: none;
  cursor: pointer;
  border: none;
  width: 80%;
}

/*----> 2 DIV <----*/






/*---------------------------------------------------------------
                        RESPONSIVE
---------------------------------------------------------------*/


@media only screen and (max-width: 1200px) { 
    .galeriaImg {
        display: block;
    }
    .contenedor-IniciarReserva{
      margin-bottom: 2rem;
      margin-left: 0;
      width: 55rem;
    }
    /* .imagen{
      width: 70%; 
    } */
    .calendarioInteractivo {
      margin-top: 1rem;
      width: 80%; 
    }
  }
  @media only screen and (max-width: 1028px){
    .galeriaImg{
      display: block;
    }
    .contenedor-IniciarReserva {
      width: 80%;
    
    }
    .imagen{
      width: 80%; 
    }
  }
  @media only screen and (max-width: 750px) { 
    .contenedor-calendario{
      width:800px;
    }
    .galeriaImg{
      display: block;
    }
  }

  @media only screen and (max-width: 600px) { 
      .contenedor-calendario{
        width:750px;
      }
    }